@charset "UTF-8";

/*共通部分*/
html{
    font-size:100%;
}  

h1{
    color:pink;
    margin-top: 5px;
    margin-left: 10px;
}
body{
    font-family:"Yu Gothic Medium","游ゴシック Medium", YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.5;
    color:#660000; 
}
body p{
    padding-left: 20px;
}

.page-header {
   background: black;
}
.page-header h1,a{
    font-family: 'IM Fell DW Pica SC', serif;
    text-decoration: none;
    padding-left: 20px;
}
.main-nav{
    display:flex;
    font-size:1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    margin-bottom: 10px;
    margin-right: 36px;
    list-style: none;
}

.main-nav a{
    color:white;
}
.main-nav a:hover{
    color:#660000;
}
.container p{
    color: deeppink;
 }
.page-header{
    display:flex;
    justify-content: space-between;
}
.wrapperz{
    max-width:1100px;
    margin:0 auto;
    padding:0 4%;
}
.big-bg img{
 max-width :100%; 
}

/*Profill*/
section{
    display:flex;
}

.photo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top:20px;
    margin-right: 50px;
    margin-left:50px;
   
}
h2{
    font-size:2rem;
    font-family: 'Philosopher',serif;
    margin-left: 10px;
    margin-bottom: 0px; 
    padding: 0;
}
.under{
    border-bottom: double;
    border-color: red;
}
h3{
    font-size:20px;
    padding-left: 20px;
    font-weight:bold ;
}
.skill-sec{
    background-color: #FFDDFF;
}
.btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    background: red;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }
.programming{
    padding-left:40px ;
}

/* .sns > h2{
    color:#660000;
    background: none;
} */
.lancers{
    color:blue;
}
.lancers:hover{
    color:skyblue;
}

footer{
    font-family: 'IM Fell DW Pica SC', serif;
    padding:24px 0;
    background:black;
    color:pink;
    font-size: 16px;
    text-align: center;
}